body {
    font-family: Cabin;
}



/* header  */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

.menu1 {
    height: 68px;
    padding: 16px 52px;
    background: #10BBD5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8FDFE;
    margin-top: 16px;
    box-sizing: border-box;

}

.top-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 24px;
    font-weight: 700;
}

.top-logo a {
    text-decoration: none;
    color: #F8FDFE;
    display: flex;
    align-items: center;
}

.top-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;

}

.cart-conteiner {
    position: relative;

}

.cart-conteiner p {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;


}

.menu2 {
    display: flex;
    padding: 4px 52px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    justify-content: space-between;
    background: #FFF;
    margin-top: 4px;

}

.menu2list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu2list a {
    text-decoration: none;
    color: #000;
}






/* main  */

main {
    margin-top: 112px;
    background: #EEEEEF;
    position: relative;

}


.topic {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 36px;
    margin-right: 52px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #A8A8A8;


    margin-left: 52px;

}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #A8A8A8;
    flex-wrap: wrap;
    gap: 15px;



}


.btn-chat {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #10BBD5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 50%;
    left: 90%;
    z-index: 2;

}




/* product-card */



/* product-card-main-style */

.product-card-content {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: white;
    width: 306px;
    height: 512px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-bottom: 32px;

}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}


.name-autor-price {
    display: flex;
    width: 242px;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.book-name {
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
}



.book-autor {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-top: 1px solid #A8A8A8;
}



.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;


}

.badge {
    position: absolute;
    top: 36px;
    left: 40px;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    gap: 4px;

}

.badge .hit {
    padding: 4px 8px;
    background: #4200FF;
    border-radius: 4px;
}





.btn-add-to-basket {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4C394E;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
}

.btn-add-to-basket a {
    text-decoration: none;
    color: #F8FDFE;
}



/* product-card-unic-style */

.badge .new {

    padding: 4px 8px;
    background: #AF39E7;
    border-radius: 4px;

}

.badge .sale {
    padding: 4px 8px;
    border-radius: 4px;
    background: #EA33C0;
}


.btn-end-up {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4D762D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
}

.btn-end-up a {
    text-decoration: none;
    color: #F8FDFE;
}

.full-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;


}


footer {

    height: 88px;
    width: 100%;
    background: #4C394E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8FDFE;



}

.footer-div {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 52px;
    margin-left: 52px;

}